*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: aqua;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menyu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}